{% extends "layout.html" %}

{% block css %}
{% endblock %}

{% block main %}
<div class="container text-center">
  <h2 style="margin-top: 40px;">Welcome to project 1 book search facility</h2>
  <form action="{{url_for('search')}}" method="GET">
    <div class="active-cyan-3 active-cyan-4 mb-4 input-group" style="margin-top: 40px;">
      <input class="form-control" type="text" name="book_search" placeholder="Enter isbn or title or author name"
        aria-label="Search">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i> Search</button>
      </span>
    </div>
  </form>
</div>
{% endblock %}